<h1>現地情報</h1>
<ul>
  <li>気候・気温</li>
    <p>熱帯モンスーン気候。日本のようにはっきりとした四季があるわけではなく、多少の変化はあれど、1年を通じてほぼ夏の気候で過ごせる。
    年間平均気温は28℃前後で湿度が高くムシムシしている。
    日差しがとても強く紫外線量は日本の約７倍とも言われており、紫外線対策は必須。ビーチに数時間いるだけで真っ黒になります。</p>
    
    <li>服装</li>
      <p></p>
      
    <li>物価</li>
      <p></p>
      
    <li>治安</li>
      <p></p>
      
    <li>言語</li>
      <p></p>
      
    <li>日本との違い</li>
      <p></p>
  
</ul>